@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Karla', sans-serif;
  background-color: #18181B;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  color: black;
  background: #EFE6DD;
}

::selection {
  color: black;
  background: #EFE6DD;
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.customized-scrollbar {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.customized-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.customized-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.customized-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.customized-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.customized-scrollbar::-webkit-scrollbar-button {
  display: none;
}